.book_item {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 0;
}

.book_item_left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  font-size: medium;
}

.book_item_filler_in_between {
  flex-grow: 1;
}
